*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.registerForm{
    border: 1px solid rgba(0,0,0,0.4);
    padding: 6vh;
    margin-top: 15vh;
    border-radius: 10px;
}

.active{
    background-color: #0d6efd;

}

a::after{
    color: white;
}

.container-search{
    padding: 2vh;
    display: flex;
    justify-content: center;
    
}
.container-search .form-control{
    max-width: 200px;
}

